# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\laragon\www\pmbunigres\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/webServers.xml
/deployment.xml
/modules.xml
/php.xml
/pmbunigres.iml
